<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About</title>
  <link rel="stylesheet" href="../css/about.css">
</head>

<body>
  <header>
    <nav>
      <a href="index.html">Home</a>
      <a href="about.html">About</a>
    </nav>
  </header>
<section class="section1">
  <p>
    Libris vero quas recusandae similique quos repellat doloremque blanditiis voluptatum enim fugiat? Optio officia aspernatur, officiis consectetur at! Eos porro ipsum amet, corrupti eaque reiciendis asperiores doloribus optio omnis!
  </p> <br>
  <p>
    Libris vero quas recusandae similique quos repellat doloremque blanditiis voluptatum enim fugiat? Optio officia aspernatur, officiis consectetur at! Eos porro ipsum amet, corrupti eaque reiciendis asperiores doloribus optio omnis!
  </p>
</section>
</body>

</html>
