
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
<link rel="stylesheet" href="../css/index.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

</head>

<body>
  <header>
    <nav>
      <a href="./index.html">Home</a>
      <a href="./about.html">About</a>
    </nav>
  </header>
  <main>
    
    <section class="section1">
      <p>Libris vero quas recusandae similique quos repellat doloremque blanditiis voluptatum enim fugiat? Optio officia aspernatur, officiis consectetur at! Eos porro ipsum amet, corrupti eaque reiciendis asperiores doloribus optio omnis!</p>
    </section>
    <section class="section2">
      <h1 class="lora">My Gallary</h1>
      <p>Available Images</p>
      <div class="box">
      <div>
        <img src="../images/plag4.png" alt="brazil plag">
      </div>
      <div>
        <img src="../images/plag4.png" alt="brazil plag">
      </div>
      <div>
        <img src="../images/plag4.png" alt="brazil plag">
      </div>
      <div>
        <img src=../images/plag4.png alt="brazil plag">
      </div>
      </div>
    </section>
  </main>
  <footer>
      <p>Footer</p>
  </footer>
</body>

</html>